.col-md-12{
}
.col-lg-4{
}

.container{
    padding: 30px;
}

div.row > div{
    position: relative;
    padding: 10px 10px 10px 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #6499e8;
}
.nav-link {
    color: black;
    background-color: #9abaff;
    border-bottom: 2px solid #6499e8;

}

div.container {
    max-width: 100%;
}

.text-center {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}
body > div.text-center{
    padding-top: 20px;
}

.inside {
    background-color: #6499e8;
    margin-top: 10px;
    padding: 10px;
}