* {
    box-sizing: border-box;
}
@media (min-width: 992px) {
    .coll {
        float: left;
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .colm50, .colm100 {
        float: left;
    }
    .colm50 {
        width: 50%;
    }
    .colm100 {
        width: 100%;
        clear: both;
    }
}
@media (max-width: 767px) {
    .cols {
        float: left;
        width: 100%;
        clear: both;
    }
}
body{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.row {
    width: 100%;
}
.heading {
    text-align: center;
    font-size: 40px;
}
div.row > div{
    position: relative;
    padding: 10px 10px 10px 10px;
}
.headerfloater {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid black;
    padding: 2px 20px;
    font-size: 30px;
}
.header1 {
    background-color: grey;
}
.header2 {
    background-color: red;
}
.header3 {
    background-color: maroon;
}

.inside {
    background-color: darksalmon;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 20px;
}